
{% extends 'userbase.html' %}
{% block content %}
<center>
	<font size="" color="#ff0000"><strong>{{msg}}</strong></font>
	<br><br>
<h2>View Elections</h2>
<br><br>

<table width="90%" id="tab" >
<tr><th>Sno<th>Election name<th>Location<th>Vote
{% for d1 in data %}

<TR><TD>{{forloop.counter}}<TD>{{d1.name}}<TD>{{d1.location}}<td>



<form method="get" action="/vote/">

	<input type="hidden" name="eid" value="{{d1.id}}">
	<input type="submit" value="Vote">

</form>




{% endfor %}

</table>



{% endblock %}